#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
html{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(87, 109, 109) 0.1%, rgb(44, 58, 61) 94.2% );
}
body{
  display: inline-block;
  width: 1480px;
  max-width: 1480px;
}
.container{
  width: 2000px !important;
}
#head{
  border-bottom: 10px solid #474747;
  background-size: cover;
  background-position-y: 80%;
  background-image: url('/src/assets/wood.jpg');
}
#rack{
  padding-top: 30px;
  
}
#base{
  border-top: 10px solid #474747;
  padding: 5px 5px;
  background-size: cover;
  background-position-y: center;
  background-image: url('/src/assets/wood.jpg');
}
h1{
  font-size: 80px;
}
h6{
  padding: 10px;
  padding-top: 15px;
  text-align: center;
}
#globalcontrols, #oscbank, #mixerbank, #filterbank, #envelopes{
  /* border: 1px solid #BBFFEA; */
  border-radius: 5px;
}

.envelope{
  padding: 20px;
}
.envelope label{
  display: flex;
}

#filterbank label{
  justify-content: center;
  padding: 10px;
}
#filterbank webaudio-knob{
  padding-top: 10px;
}

#oscbank{
  padding: 40px;
  padding-top: 5px;

  display: flex;
  flex-direction: column;
}
#oscbank select {
  padding: 10px;
}
#oscbank webaudio-knob {
  padding: 20px;
}

#mixerbank{
  padding: 50px;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 5px;
}
#mixerbank webaudio-knob{
  padding: 50px 0px;
  padding-left: 5px;
  margin: 0px;
}

.keyboard{
  border: 1px solid #BBFFEA;
}